@import "~Styleguide/colors";

$navHeight: 60px;

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $navHeight;
  background: $black;
  color: $white;
}

.title {
  margin: 0 auto;
  font-size: 24px;
}

.mobileNavButton {
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
  border: 0;
  border-right: 1px solid #201c29;
  padding: 13px 22px;
  outline: 0;
  height: $navHeight;
}

.screenReaderText {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
}

.iconBurger {
  fill: $white;
  width: 26px;
  height: 26px;
}

.signIn {
  margin-right: 13px;
  font-size: 14px;
}
