@import "~Styleguide/colors";

.container {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  position: relative;
  font-size: 12px;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
}

.primary {
  background: $primary;
  color: $white;

  &:hover {
    background: $primary-light;
  }
}

.secondary {
  background: $secondary;
  color: $text-light;

  &:hover {
    background: $secondary-light;
  }
}
