$white: #ffffff;
$black: #000000;

$primary: #4caf50;
$primary-light: #80e27e;
$primary-dark: #087f23;
$primary-text: #fafafa;

$secondary: #ffc107;
$secondary-light: #fff350;
$secondary-dark: #c79100;
$secondary-text: #000000;
