@import "~Styleguide/colors";

.button {
  width: 100%;
  border-radius: 3px;
  padding: 12px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.primary {
  background: $primary;
  color: $primary-text;

  &:hover {
    background: $primary-light;
  }
}

.secondary {
  background: $secondary;
  color: $secondary-text;
  font-weight: bold;
  font-size: 18px;

  &:hover {
    background: $secondary-light;
  }
}
